.App {
    font-family: sans-serif;
  }
  * {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }
  .header {
    background-color: rgb(6, 6, 6);
    min-height: 4rem;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }
  .links {
    display: none;
  }
  p {
    padding: 5px;
  }
 
  
  .main-container {
    display: flex;
    min-height: calc(100vh - 4rem);
    background-color: coral;
  }
 
  .content {
    display: flex;
    flex-grow: 1;
  }
  